.container {
  background-color: #fcd8d4;
  border-bottom-left-radius: 8rem;
}
.content_home {
  margin-left: 25px;
}
.title_1 {
  margin-top: 0;
  font-family: "Chakra Petch", sans-serif;
  font-size: 26px;
  letter-spacing: 3px;
}
.svg_plant {
  margin: auto;
}
