.container {
  background-image: url(/images/wickedbackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 8rem;
}
.content_home {
  margin-left: 25px;
}
.title_1 {
  margin-top: 0;
  font-family: $font-chakra;
  font-size: 26px;
  letter-spacing: 8px;
}
.svg_plant {
  margin: auto;
}
