nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: $clear;
}
.ham {
  display: none;
  .nav {
    display: flex;
    align-items: center;
  }
}
a.navbar {
  margin-right: 20px;
  text-decoration: none;
  color: $black;
  transition: 0.4s;
}

@media only screen and (max-width: 600px) {
  .ham {
    display: flex;
    border: none;
    border-radius: 50%;
    background-color: $pink-light;
    padding: 12px;
    position: fixed;
  }
  .nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .site-nav {
    height: 0;
    overflow: hidden;
    position: absolute;
  }
  .nav_open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
    padding: 0;
    clip-path: polygon(0 8%, 92% 8%, 100% 0, 100% 100%, 0 100%);
    margin-top: 45px;
    height: 55%;
    width: 90%;
    z-index: 5;
  }
  .nav {
    flex-direction: column;
  }

  a.navbar {
    position: relative;
    margin-top: 35px;
    z-index: 2;
    font-size: 20px;
    color: $coral;
    transition: transform 0.3s, opacity 0.3s;
    &:hover {
      color: $black;
      border-left-style: solid;
      border-left-color: $coral;
      transform: scale(1.02);
    }
    &:active {
      background-color: $black;
    }
  }
}
