@mixin line_before {
  margin-left: 25px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s, opacity 0.3s;
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 2px;
    left: -5px;
    width: 140px;
    height: 10px;
    border-radius: 50px;
    background-color: $coral;
  }
  &:hover::before {
    transform: scale(1.02);
    opacity: 0.7;
    z-index: -1;
  }
}
@mixin a_hover {
  padding: 5px;
  margin-right: 5px;
  transition: transform 0.3s, background-color 1s, border-radius 0.5s;
  &:hover {
    transform: scale(1.1);
    border-radius: 40%;
  }
}
//sections
.title_sections {
  @include line_before;
}
.container_2,
.container_3,
.container_4 {
  margin-top: 55px;
}
//about
.about_p {
  padding: 20px;
  margin: 0;
  line-height: 1.6;
}
//projects
.container_3 {
  background-color: $pink;
  border-top-right-radius: 8rem;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 8rem;
  box-shadow: 0 3px 10px $shadow;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $white;
  border-radius: 30px;
  margin: 30px;
  height: 20rem;
  padding: 35px;
  box-shadow: 0 3px 10px $shadow;
}
.content_image {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  .card_img {
    width: 280px;
    height: 180px;
    border-radius: 20px;
  }
}

.text_projects {
  margin-left: 25px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  .link_icon {
    @include a_hover;
    &:hover {
      background-color: $pink;
    }
  }
}
.p_card {
  margin: 0 0 10px 0;
  line-height: 1.6;
}
.more_view {
  font-size: 16px;
  font-family: $font-chakra;
  letter-spacing: 5px;
  padding-bottom: 30px;
  text-align: center;
  .more_git {
    @include line_before;
    margin-left: 0;
    text-decoration: none;
    color: $black;
    &::before {
      background-color: $white;
      width: 82px;
    }
  }
}

//mediaquerys
@media only screen and (min-width: 1200px) {
  .content_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    width: 30%;
    height: 20rem;
  }
  .content_image {
    overflow: visible;
  }
  .container_2,
  .container_3,
  .container_4 {
    padding: 55px;
  }
  .about_p {
    padding: 15px;
    line-height: 1.6;
  }
}
