nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #fff1f2;
}

.ham {
  display: none;
}

.ham .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.navbar {
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 600px) {
  .ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    border-radius: 50%;
    background-color: #fedadd;
    padding: 12px;
    position: fixed;
  }
  .nav-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .site-nav {
    height: 0;
    overflow: hidden;
    position: absolute;
  }
  .nav_open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    background-color: white;
    padding: 0;
    -webkit-clip-path: polygon(0 8%, 92% 8%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 8%, 92% 8%, 100% 0, 100% 100%, 0 100%);
    margin-top: 45px;
    height: 55%;
    width: 90%;
    z-index: 5;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  a.navbar {
    position: relative;
    margin-top: 35px;
    z-index: 2;
    font-size: 20px;
    color: #fc97a0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  }
  a.navbar:hover {
    color: #000000;
    border-left-style: solid;
    border-left-color: #fc97a0;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  a.navbar:active {
    background-color: #000000;
  }
}

.content_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fdf6f0;
  border-radius: 30px;
  padding: 18px;
  -webkit-box-shadow: 0 3px 10px rgba(128, 128, 128, 0.699);
          box-shadow: 0 3px 10px rgba(128, 128, 128, 0.699);
  margin: 10px;
  width: 15%;
  height: 65px;
}

.title_skill {
  font-weight: normal;
  font-size: 13px;
  margin: 0;
}

.img_skill {
  width: 45px;
}

.container {
  background-image: url(/images/wickedbackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 8rem;
}

.content_home {
  margin-left: 25px;
}

.title_1 {
  margin-top: 0;
  font-family: "Chakra Petch", sans-serif;
  font-size: 26px;
  letter-spacing: 8px;
}

.svg_plant {
  margin: auto;
}

.title_sections {
  margin-left: 25px;
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.title_sections::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 2px;
  left: -5px;
  width: 140px;
  height: 10px;
  border-radius: 50px;
  background-color: #fc97a0;
}

.title_sections:hover::before {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.7;
  z-index: -1;
}

.container_2,
.container_3,
.container_4 {
  margin-top: 55px;
}

.container_3 {
  background-color: #fdc4c9;
  border-top-right-radius: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-left-radius: 8rem;
  -webkit-box-shadow: 0 3px 10px rgba(128, 128, 128, 0.699);
          box-shadow: 0 3px 10px rgba(128, 128, 128, 0.699);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fdf6f0;
  border-radius: 30px;
  margin: 30px;
  height: 20rem;
  padding: 35px;
  -webkit-box-shadow: 0 3px 10px rgba(128, 128, 128, 0.699);
          box-shadow: 0 3px 10px rgba(128, 128, 128, 0.699);
}

.content_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_img {
  width: 280px;
  height: 180px;
  border-radius: 20px;
}

.text_projects {
  margin-left: 25px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.icons .link_icon {
  padding: 5px;
  margin-right: 5px;
  -webkit-transition: background-color 1s, border-radius 0.5s, -webkit-transform 0.3s;
  transition: background-color 1s, border-radius 0.5s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 1s, border-radius 0.5s;
  transition: transform 0.3s, background-color 1s, border-radius 0.5s, -webkit-transform 0.3s;
}

.icons .link_icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 40%;
}

.icons .link_icon:hover {
  background-color: #fdc4c9;
}

.p_card {
  margin: 0 0 10px 0;
}

.more_view {
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif;
  letter-spacing: 5px;
  padding-bottom: 30px;
  text-align: center;
}

.more_view .more_git {
  margin-left: 25px;
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  margin-left: 0;
  text-decoration: none;
  color: #000000;
}

.more_view .more_git::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 2px;
  left: -5px;
  width: 140px;
  height: 10px;
  border-radius: 50px;
  background-color: #fc97a0;
}

.more_view .more_git:hover::before {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.7;
  z-index: -1;
}

.more_view .more_git::before {
  background-color: #fdf6f0;
  width: 82px;
}

.container_5 {
  background-color: #fdc4c9;
  border-top-right-radius: 8rem;
  margin-top: 30px;
  -webkit-box-shadow: 0 3px 10px rgba(128, 128, 128, 0.699);
          box-shadow: 0 3px 10px rgba(128, 128, 128, 0.699);
}

.content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.title_footer {
  margin-left: 25px;
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 5px;
  margin: 0;
}

.title_footer::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 2px;
  left: -5px;
  width: 140px;
  height: 10px;
  border-radius: 50px;
  background-color: #fc97a0;
}

.title_footer:hover::before {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.7;
  z-index: -1;
}

.title_footer::before {
  bottom: 6px;
  width: 265px;
}

.mail {
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: #000000;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.social {
  padding: 5px;
  margin-right: 5px;
  -webkit-transition: background-color 1s, border-radius 0.5s, -webkit-transform 0.3s;
  transition: background-color 1s, border-radius 0.5s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 1s, border-radius 0.5s;
  transition: transform 0.3s, background-color 1s, border-radius 0.5s, -webkit-transform 0.3s;
}

.social:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 40%;
}

.social:hover {
  background-color: #fc97a0;
}

body {
  background-color: #fdf6f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "PT Mono", monospace;
}
/*# sourceMappingURL=style.css.map */